<section class="product-section spad">
		<div class="container">
			<div class="row" id="product-filter">
				<div class="mix col-lg-3 col-md-6 best" *ngFor="let item of itemlist">
					<div class="product-item" >
						<figure>
                         	<img src={{item.image}} alt="">
						</figure>
						<div class="product-info">
							<h6>{{item.name}} ({{item.weight}})</h6>
							<p>Rs.{{item.price}}</p>
							<a  (click)="addtocart(item)" class="site-btn btn-line">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>